.btn {
  padding: 0.2em 1.7em;
  border: none;
  border-radius: 0.1em;
  font-size: 1.2em;
  color: #202020;
  text-decoration: none;
  background-color: #faff5a;
}

.btn:hover {
  cursor: pointer;
  background-color: #f0f0f0;
  color: #202020;
}
